<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Registered</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div>Registered page</div>

    <p>The result from your form submission is:</p>
    <div>Email: <span th:text="${email}"></span></div>
    <div>Password: <span th:text="${password}"></span></div>
    <div>First name: <span th:text="${firstName}"></span></div>
    <div>Age: <span th:text="${age}"></span></div>
  </body>
</html>
